/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. test */

html,
body {
  min-height: 100vh;
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.footer_content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  line-height: 0.5;
  font-size: small;
}
.header_content {
  max-width: 1000px;
  color: white;
  margin: 0 auto;
}
.header_title {
  display: flex;
  justify-content: space-between;
}
.header_text {
  margin-left: 45%;
}
header,
footer {
  height: 300px;
}
.logo-header {
  width: 100px;
  margin-top: 10px;
}
.nav-text {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
.sm-icons {
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.active {
  color: pink;
  background-color: #ffc0cb3d;
  padding: 9px;
  border: solid pink;
  border-radius: 10px;
}
.content {
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 12px;
  max-width: 800px;
  margin: auto;
}
header {
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
}
footer {
  background-color: rgb(234, 234, 234);
}
.logo-footer {
  height: 140px;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff69b4c2;
}
.formelements {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form {
  width: 50%;
}
input {
  height: 30px;
}
textarea,
input {
  font-family: "Montserrat", "Arial Narrow", Arial, sans-serif;
  border-radius: 7px;
  border: solid 1px grey;
  margin-top: 5px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}
.error {
  color: rgb(250, 3, 3);
  display: none;
  margin-top: 5px;
}
.submitbutton {
  height: 40px;
}
.grid-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 20px;
  grid-template-areas:
    "first first first first"
    "main main main main"
    "scnd scnd scnd scnd"
    "thrd thrd thrd thrd"
    "last last last last";
}
.item1 {
  grid-area: first;
}
.item2 {
  grid-area: main;
}
.item3 {
  grid-area: scnd;
}
.item4 {
  grid-area: thrd;
}
.item5 {
  grid-area: last;
}
.item6 {
  grid-area: right;
}

.item7 {
  grid-area: left;
}

.grid-container > div {
  background-color: rgba(163, 163, 163, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.category-img{
  height: 200px;
  width: auto;
}

.socialmedia {
  height: 25px;
  margin: 9px;
  margin-left: 0px;
}
.norm-links {
  color: black;
  text-decoration: wavy;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff69b4c2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 130%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: auto auto;
    grid-template-areas:
      "first first"
      "main main"
      "scnd scnd"
      "last last";
  }
}
@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: auto;
    width: 80%;
    grid-template-areas:
      "first"
      "main"
      "scnd"
      "last";
  }
}
